<!DOCTYPE html>
<html lang="en">
    <div th:replace="fragments/main::head"></div>
        <body>
            <div th:replace="fragments/main::navbar"></div>
            <div class="container">
                <ul>
                    <a th:each="unit:${units}" th:href="@{'/unit/' + ${unit.name} + '/'}">
                        <li th:text="${unit.name}"></li>
                    </a>
                </ul>
            </div>
            <div th:replace="fragments/main::bootstrap_js"></div>
        </body>
</html>