<!DOCTYPE html>
<html lang="en">
    <div th:replace="fragments/main::head"></div>
    <body>
        <div th:replace="fragments/main::navbar"></div>
        <div class="container">
            <br>
            <h1 th:text="${unit.name}"></h1>
            <br><br>

            <h2 class="text-center">Reviews</h2>
            <div class="container">
                <div class="row" style='border-bottom:1px solid #ccc;' th:each="review:${unit.unitReviews}">
                    <div class="col text-center" th:text="${review.reviewText}"></div>
                    <div class="col text-center">
                        <a th:href="@{/unit/deleteReview/{reviewId}/{unitName}(reviewId=${review.id}, unitName=${unit.name})}">delete</a>
                    </div>
                </div>
            </div>
            <br>
            <form th:action="@{/unit/{unitName}/addReview/(unitName=${unit.name})}" method="POST">
                <label for="review">Your review:</label><br>
                <textarea id="review" name="review"></textarea><br>
                <input type="submit" value="Submit">
            </form>

            <br><br>
            <h2 class="text-center">Hashtags</h2>
            <div class="container">
                <div class="row" style='border-bottom:1px solid #ccc;' th:each="hashtag:${unit.hashtags}" >
                    <div class="col text-center" th:text="${hashtag.hashtag}"></div>
                    <div class="col text-center">
                        <a th:href="@{/unit/deleteHashtag/{hashtagId}/{unitName}(hashtagId=${hashtag.id}, unitName=${unit.name})}">
                            delete
                        </a>
                    </div>
                </div>
            </div>
            <br>

            <form th:action="@{/unit/{unitName}/addHashtag/(unitName=${unit.name})}" method="POST">
                <label for="hashtag">Add Hashtag:</label><br>
                <textarea id="hashtag" name="hashtag"></textarea><br>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div th:replace="fragments/main::bootstrap_js"></div>
    </body>
</html>